= link_to :back, class: "btn btn-primary" do
  %i.glyphicon.glyphicon-chevron-left
  Wróć
%h2
  Edycja danych użytkownika
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .form-group
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, class: "form-control"
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: "form-control"
  .form-group
    = f.label :email
    = f.email_field :email, class: "form-control"
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    = f.label :password
    %i (zostaw puste, jeżeli nie chcesz zmieniać)
    = f.password_field :password, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :current_password
    %i (potrzebujemy hasło do potwierdzenia zmian)
    = f.password_field :current_password, autocomplete: "off", class: "form-control"
  .form-group
    = f.submit "Zapisz", class: "btn btn-primary"
%p
  #{button_to "Zamknij konto", registration_path(resource_name), data: { confirm: "Jesteś pewny?" }, method: :delete, class: "btn btn-danger"}
