%h2 Rejestracja
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .form-group
    = f.label :first_name
    = f.text_field :first_name, autofocus: true, class: "form-control"
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: "form-control"
  .form-group
    = f.label :email
    = f.email_field :email, class: "form-control"
  .form-group
    = f.label :password
    - if @minimum_password_length
      %em
        (minimum #{@minimum_password_length} znaków)
    = f.password_field :password, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  .form-group
    = f.submit "Rejestruj", class: "btn btn-primary"
= render "devise/shared/links"
