@charset "UTF-8";
/* line 1, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom {
  background-color: #fead24;
  border-color: #fc992c;
}

/* line 5, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-brand {
  color: #ffffff;
}

/* line 8, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #eeeeee;
}

/* line 12, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-text {
  color: #ffffff;
}

/* line 15, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}

/* line 18, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #fc992c;
}

/* line 22, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu {
  background-color: #fead24;
}

/* line 25, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

/* line 28, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fc992c;
  background-color: #fc992c;
}

/* line 33, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8e44ad;
}

/* line 36, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}

/* line 42, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #fc992c;
}

/* line 48, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #eeeeee;
  background-color: #fc992c;
}

/* line 54, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle {
  border-color: #fc992c;
}

/* line 57, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fc992c;
}

/* line 61, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* line 64, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ffffff;
}

/* line 68, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-link {
  color: #ffffff;
}

/* line 71, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-link:hover {
  color: #eeeeee;
}

@media (max-width: 767px) {
  /* line 75, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }

  /* line 78, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeee;
    background-color: #fc992c;
  }

  /* line 83, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
  }
}
@media (max-height: 480px) {
  /* line 90, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  #searchbar {
    padding: 0;
    margin: 0;
  }
}
/* line 95, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input {
  margin: 10px 0 0;
  padding: 0;
}

/* line 99, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 110, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #D9230F;
}

/* line 125, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.search-query:focus + button {
  z-index: 3;
}

@media (min-height: 480px) {
  /* line 129, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  #searchbar {
    padding-top: 300px;
    padding-bottom: 300px;
  }
}
/* line 135, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#searchbar {
  font-family: 'Bree Serif', sans-serif;
}

/*Ustalenie marginesów dla searchbaru w partial views */
/* line 139, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.searchbar_min {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* LOGIN_FORM */
/* line 146, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.login-form-group {
  margin-bottom: 25px;
}

/* Vocabularies index page */
/* line 151, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable {
  margin-top: 15px;
}

/* line 154, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .panel-heading .pull-right {
  margin-top: -20px;
}

/* line 157, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}

/* line 165, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}

/* line 168, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}

/* line 171, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}

/* AutoComplete */
/* line 176, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 205, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
/* line 214, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

/* line 225, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 229, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-autocomplete:hover {
  background-color: #4285F4;
  color: #fff;
}
