@charset "UTF-8";
/* line 15, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-box,
.trumbowyg-editor {
  display: block;
  position: relative;
  border: 1px solid #DDD;
  width: 96%;
  min-height: 300px;
  margin: 17px auto;
}

/* line 24, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-box .trumbowyg-editor {
  margin: 0 auto;
}

/* line 27, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-box.trumbowyg-fullscreen {
  background: #FEFEFE;
}

/* line 30, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor,
.trumbowyg-textarea {
  position: relative;
  box-sizing: border-box;
  padding: 1% 2%;
  min-height: 300px;
  width: 100%;
  border-style: none;
  resize: none;
  outline: none;
}

/* line 42, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-box-blur .trumbowyg-editor * {
  color: transparent !important;
  text-shadow: 0 0 7px #333;
}
/* line 46, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-box-blur .trumbowyg-editor img {
  opacity: .2;
}

/* line 50, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-textarea {
  position: relative;
  display: block;
  overflow: auto;
  border: none;
  white-space: normal;
}

/* line 58, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane {
  position: relative;
  width: 100%;
  background: #ecf0f1;
  border-bottom: 1px solid #d7e0e2;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 10px;
  backface-visibility: hidden;
}
/* line 69, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li {
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
/* line 74, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li.trumbowyg-separator {
  width: 1px;
  background: #d7e0e2;
  margin: 0 5px;
  height: 35px;
}
/* line 83, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane.trumbowyg-disable li:not(.trumbowyg-not-disable) button:not(.trumbowyg-active) {
  opacity: .2;
  cursor: default;
}
/* line 87, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane.trumbowyg-disable li.trumbowyg-separator {
  background: #e3e9eb;
}
/* line 96, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane:not(.trumbowyg-disable) li button:hover, .trumbowyg-button-pane:not(.trumbowyg-disable) li button:focus,
.trumbowyg-button-pane li button.trumbowyg-active,
.trumbowyg-button-pane li.trumbowyg-not-disable button:hover,
.trumbowyg-button-pane li.trumbowyg-not-disable button:focus {
  background-color: #FFF;
  outline: none;
}
/* line 105, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li .trumbowyg-open-dropdown:after {
  display: block;
  content: " ";
  position: absolute;
  top: 25px;
  right: 3px;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-top-color: #555;
}
/* line 117, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane .trumbowyg-buttons-right {
  float: right;
  width: auto;
}
/* line 121, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane .trumbowyg-buttons-right button {
  float: left;
}

/* line 127, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-dropdown {
  width: 200px;
  border: 1px solid #ecf0f1;
  padding: 5px 0;
  border-top: none;
  background: #FFF;
  margin-left: -1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
}
/* line 136, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-dropdown button {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: #FFF;
  padding: 0 14px;
  color: #333;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  transition: all .15s;
}
/* line 151, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-dropdown button:hover, .trumbowyg-dropdown button:focus {
  background: #ecf0f1;
}

/* Modal box */
/* line 160, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -260px;
  width: 520px;
  height: 290px;
  overflow: hidden;
}

/* line 169, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 275px;
  z-index: 1;
  background-color: #FFF;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
  backface-visibility: hidden;
}
/* line 182, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-modal-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 15px 0 13px;
  display: block;
  border-bottom: 1px solid #EEE;
  color: #333;
  background: #fbfcfc;
}
/* line 193, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-progress {
  width: 100%;
  background: #F00;
  height: 3px;
  position: absolute;
  top: 58px;
}
/* line 200, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-progress .trumbowyg-progress-bar {
  background: #2BC06A;
  height: 100%;
  transition: width .15s linear;
}
/* line 207, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label {
  display: block;
  position: relative;
  margin: 15px 12px;
  height: 27px;
  line-height: 27px;
  overflow: hidden;
}
/* line 215, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label .trumbowyg-input-infos {
  display: block;
  text-align: left;
  height: 25px;
  line-height: 25px;
  transition: all .15;
}
/* line 222, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label .trumbowyg-input-infos span {
  display: block;
  color: #859fa5;
  background-color: #fbfcfc;
  border: 1px solid #DEDEDE;
  padding: 0 2%;
  width: 19.5%;
}
/* line 230, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label .trumbowyg-input-infos span.trumbowyg-msg-error {
  color: #e74c3c;
}
/* line 236, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label.trumbowyg-input-error input,
.trumbowyg-modal-box label.trumbowyg-input-error textarea {
  border: 1px solid #e74c3c;
}
/* line 241, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label.trumbowyg-input-error .trumbowyg-input-infos {
  margin-top: -27px;
}
/* line 246, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label input {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  line-height: 25px;
  border: 1px solid #DEDEDE;
  background: transparent;
  width: 72%;
  padding: 0 2%;
  margin: 0 0 0 23%;
  transition: all .15s;
}
/* line 259, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label input:hover, .trumbowyg-modal-box label input:focus {
  outline: none;
  border: 1px solid #95a5a6;
}
/* line 264, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box label input:focus {
  background: rgba(230, 230, 255, 0.1);
}
/* line 270, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .error {
  margin-top: 25px;
  display: block;
  color: red;
}
/* line 276, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-modal-button {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-decoration: none;
  color: #FFF;
  display: block;
  width: 100px;
  height: 35px;
  line-height: 33px;
  margin: 0 10px;
  background-color: #333;
  border: none;
  border-top: none;
  cursor: pointer;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif;
  font-size: 16px;
  transition: all .15s;
}
/* line 296, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit {
  right: 110px;
  background: #2bc06a;
}
/* line 300, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:hover, .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:focus {
  background: #40d47e;
  outline: none;
}
/* line 305, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-submit:active {
  background: #25a25a;
}
/* line 311, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset {
  color: #555;
  background: #e6e6e6;
}
/* line 315, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:hover, .trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:focus {
  background: #fbfbfb;
  outline: none;
}
/* line 320, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-modal-box .trumbowyg-modal-button.trumbowyg-modal-reset:active {
  background: #d5d5d5;
}

/* line 326, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  left: 0;
  display: none;
}

/**
 * Fullscreen
 */
/* line 338, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 99999;
}
/* line 348, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-fullscreen.trumbowyg-box,
.trumbowyg-fullscreen .trumbowyg-editor {
  border: none;
}
/* line 352, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-fullscreen .trumbowyg-overlay {
  height: 100% !important;
}

/*
 * Reset for resetCss option
 */
/* line 363, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor object,
.trumbowyg-editor embed,
.trumbowyg-editor video,
.trumbowyg-editor img {
  width: auto;
  max-width: 100%;
}
/* line 370, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor video,
.trumbowyg-editor img {
  height: auto;
}
/* line 374, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor img {
  cursor: move;
}
/* line 376, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css {
  background: #FEFEFE !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  line-height: 1.45em !important;
  white-space: normal !important;
  color: #333;
}
/* line 384, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css a {
  color: #15c !important;
  text-decoration: underline !important;
}
/* line 389, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css div,
.trumbowyg-editor.trumbowyg-reset-css p,
.trumbowyg-editor.trumbowyg-reset-css ul,
.trumbowyg-editor.trumbowyg-reset-css ol,
.trumbowyg-editor.trumbowyg-reset-css blockquote {
  box-shadow: none !important;
  background: none !important;
  margin: 0 !important;
  margin-bottom: 15px !important;
  line-height: 1.4em !important;
  font-family: "Trebuchet MS", Helvetica, Verdana, sans-serif !important;
  font-size: 14px !important;
  border: none;
}
/* line 403, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css iframe,
.trumbowyg-editor.trumbowyg-reset-css object,
.trumbowyg-editor.trumbowyg-reset-css hr {
  margin-bottom: 15px !important;
}
/* line 408, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css blockquote {
  margin-left: 32px !important;
  font-style: italic !important;
  color: #555;
}
/* line 413, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css ul,
.trumbowyg-editor.trumbowyg-reset-css ol {
  padding-left: 20px !important;
}
/* line 417, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css ul ul,
.trumbowyg-editor.trumbowyg-reset-css ol ol,
.trumbowyg-editor.trumbowyg-reset-css ul ol,
.trumbowyg-editor.trumbowyg-reset-css ol ul {
  border: none;
  margin: 2px !important;
  padding: 0 !important;
  padding-left: 24px !important;
}
/* line 426, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css hr {
  display: block;
  height: 1px;
  border: none;
  border-top: 1px solid #CCC;
}
/* line 433, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css h1,
.trumbowyg-editor.trumbowyg-reset-css h2,
.trumbowyg-editor.trumbowyg-reset-css h3,
.trumbowyg-editor.trumbowyg-reset-css h4 {
  color: #111;
  background: none;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
}
/* line 444, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css h1 {
  font-size: 32px !important;
  line-height: 38px !important;
  margin-bottom: 20px !important;
}
/* line 449, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css h2 {
  font-size: 26px !important;
  line-height: 34px !important;
  margin-bottom: 15px !important;
}
/* line 454, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css h3 {
  font-size: 22px !important;
  line-height: 28px !important;
  margin-bottom: 7px !important;
}
/* line 459, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-editor.trumbowyg-reset-css h4 {
  font-size: 16px !important;
  line-height: 22px !important;
  margin-bottom: 7px !important;
}

/*
 * Buttons icons
 */
/* line 472, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  background: transparent url("/assets/trumbowyg/images/icons-e324e97953d1a8a6ef6a00356a5761cc7ffc44bdcf5b9bec8b8dc49896259e0a.png") no-repeat;
  border: none;
  cursor: pointer;
  transition: background-color .15s, background-image .15s, opacity .15s;
  /* English and others */
}
/* line 484, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-viewHTML-button {
  background-position: 5px -545px;
}
/* line 485, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-formatting-button {
  background-position: 5px -120px;
}
/* line 488, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-bold-button, .trumbowyg-button-pane li button.trumbowyg-strong-button {
  background-position: 5px -45px;
}
/* line 489, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-italic-button, .trumbowyg-button-pane li button.trumbowyg-em-button {
  background-position: 5px 5px;
}
/* line 490, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-underline-button {
  background-position: 5px -470px;
}
/* line 491, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-strikethrough-button, .trumbowyg-button-pane li button.trumbowyg-del-button {
  background-position: 5px -445px;
}
/* line 493, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-link-button {
  background-position: 5px -345px;
}
/* line 495, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-insertImage-button {
  background-position: 5px -245px;
}
/* line 497, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-justifyLeft-button {
  background-position: 5px -320px;
}
/* line 498, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-justifyCenter-button {
  background-position: 5px -70px;
}
/* line 499, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-justifyRight-button {
  background-position: 5px -395px;
}
/* line 500, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-justifyFull-button {
  background-position: 5px -295px;
}
/* line 502, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-unorderedList-button {
  background-position: 5px -495px;
}
/* line 503, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-orderedList-button {
  background-position: 5px -370px;
}
/* line 505, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-horizontalRule-button {
  background-position: 5px -220px;
}
/* line 507, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-fullscreen-button {
  background-position: 5px -170px;
}
/* line 508, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li button.trumbowyg-close-button {
  background-position: 5px -95px;
}

/* line 510, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-fullscreen .trumbowyg-button-pane li button.trumbowyg-fullscreen-button {
  background-position: 5px -145px;
}

/* line 512, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li:first-child button {
  margin-left: 6px;
}
/* line 513, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-button-pane li:last-child button {
  margin-right: 6px;
}

/* French */
/* line 518, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-bold-button, .trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-strong-button {
  background-position: 5px -195px;
}
/* line 519, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-underline-button {
  background-position: 5px -420px;
}
/* line 520, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
.trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-strikethrough-button, .trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-del-button {
  background-position: 5px -270px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 528, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button {
    background-size: 25px 575px !important;
    background-image: url("/assets/trumbowyg/images/icons-2x-942fc6da6f991ea4b9101a45956478173714ba42fc58eb48a84a05ea23326b80.png") !important;
    /* English and others */
  }
  /* line 532, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-viewHTML-button {
    background-position: 5px -545px;
  }
  /* line 533, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-formatting-button {
    background-position: 5px -120px;
  }
  /* line 536, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-bold-button, .trumbowyg-button-pane li button.trumbowyg-strong-button {
    background-position: 5px -45px;
  }
  /* line 537, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-italic-button, .trumbowyg-button-pane li button.trumbowyg-em-button {
    background-position: 5px 5px;
  }
  /* line 538, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-underline-button {
    background-position: 5px -470px;
  }
  /* line 539, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-strikethrough-button, .trumbowyg-button-pane li button.trumbowyg-del-button {
    background-position: 5px -445px;
  }
  /* line 541, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-link-button {
    background-position: 5px -345px;
  }
  /* line 543, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-insertImage-button {
    background-position: 5px -245px;
  }
  /* line 545, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-justifyLeft-button {
    background-position: 5px -320px;
  }
  /* line 546, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-justifyCenter-button {
    background-position: 5px -70px;
  }
  /* line 547, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-justifyRight-button {
    background-position: 5px -395px;
  }
  /* line 548, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-justifyFull-button {
    background-position: 5px -295px;
  }
  /* line 550, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-unorderedList-button {
    background-position: 5px -495px;
  }
  /* line 551, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-orderedList-button {
    background-position: 5px -370px;
  }
  /* line 553, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-horizontalRule-button {
    background-position: 5px -220px;
  }
  /* line 555, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-fullscreen-button {
    background-position: 5px -170px;
  }
  /* line 556, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-button-pane li button.trumbowyg-close-button {
    background-position: 5px -95px;
  }

  /* line 558, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-fullscreen .trumbowyg-button-pane li a.trumbowyg-fullscreen-button {
    background-position: 5px -145px;
  }

  /* French */
  /* line 562, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-bold-button, .trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-strong-button {
    background-position: 5px -195px;
  }
  /* line 563, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-underline-button {
    background-position: 5px -420px;
  }
  /* line 564, /home/lukas/.rvm/gems/ruby-2.2.3/gems/trumbowyg_rails-1.1.3/vendor/assets/stylesheets/trumbowyg/trumbowyg.scss */
  .trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-strikethrough-button, .trumbowyg-fr .trumbowyg-button-pane li button.trumbowyg-del-button {
    background-position: 5px -270px;
  }
}
/* line 3, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom {
  background-color: #fead24;
  border-color: #fc992c;
}

/* line 7, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-brand {
  color: #ffffff;
}

/* line 10, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #eeeeee;
}

/* line 14, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-text {
  color: #ffffff;
}

/* line 17, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}

/* line 20, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #fc992c;
}

/* line 24, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu {
  background-color: #fead24;
}

/* line 27, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

/* line 30, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fc992c;
  background-color: #fc992c;
}

/* line 35, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8e44ad;
}

/* line 38, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}

/* line 44, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #fc992c;
}

/* line 50, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #eeeeee;
  background-color: #fc992c;
}

/* line 56, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle {
  border-color: #fc992c;
}

/* line 59, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fc992c;
}

/* line 63, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* line 66, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ffffff;
}

/* line 70, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-link {
  color: #ffffff;
}

/* line 73, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-link:hover {
  color: #eeeeee;
}

@media (max-width: 767px) {
  /* line 77, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }

  /* line 80, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeee;
    background-color: #fc992c;
  }

  /* line 85, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
  }
}
@media (max-height: 480px) {
  /* line 92, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  #searchbar {
    padding: 0;
    margin: 0;
  }
}
/* line 97, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input {
  margin: 10px 0 0;
  padding: 0;
}

/* line 101, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 112, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #D9230F;
}

/* line 127, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.search-query:focus + button {
  z-index: 3;
}

@media (min-height: 480px) {
  /* line 131, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  #searchbar {
    padding-top: 300px;
    padding-bottom: 300px;
  }
}
/* line 137, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#searchbar {
  font-family: 'Bree Serif', sans-serif;
}

/*Ustalenie marginesów dla searchbaru w partial views */
/* line 141, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.searchbar_min {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* LOGIN_FORM */
/* line 148, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.login-form-group {
  margin-bottom: 25px;
}

/* Vocabularies index page */
/* line 153, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable {
  margin-top: 15px;
}

/* line 156, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .panel-heading .pull-right {
  margin-top: -20px;
}

/* line 159, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .filters input[disabled] {
  background-color: transparent;
  border: none;
  cursor: auto;
  box-shadow: none;
  padding: 0;
  height: auto;
}

/* line 167, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .filters input[disabled]::-webkit-input-placeholder {
  color: #333;
}

/* line 170, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .filters input[disabled]::-moz-placeholder {
  color: #333;
}

/* line 173, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.filterable .filters input[disabled]:-ms-input-placeholder {
  color: #333;
}

/* AutoComplete */
/* line 178, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 207, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
/* line 216, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

/* line 227, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 231, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.ui-autocomplete:hover {
  background-color: #4285F4;
  color: #fff;
}
