/* line 1, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom {
  background-color: #fead24;
  border-color: #fc992c;
}

/* line 5, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-brand {
  color: #ffffff;
}

/* line 8, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #eeeeee;
}

/* line 12, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-text {
  color: #ffffff;
}

/* line 15, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}

/* line 18, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #fc992c;
}

/* line 22, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu {
  background-color: #fead24;
}

/* line 25, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

/* line 28, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fc992c;
  background-color: #fc992c;
}

/* line 33, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #8e44ad;
}

/* line 36, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}

/* line 42, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #fc992c;
}

/* line 48, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #eeeeee;
  background-color: #fc992c;
}

/* line 54, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle {
  border-color: #fc992c;
}

/* line 57, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fc992c;
}

/* line 61, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* line 64, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ffffff;
}

/* line 68, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-link {
  color: #ffffff;
}

/* line 71, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.navbar-custom .navbar-link:hover {
  color: #eeeeee;
}

@media (max-width: 767px) {
  /* line 75, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }

  /* line 78, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeee;
    background-color: #fc992c;
  }

  /* line 83, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
  }
}
@media (max-height: 480px) {
  /* line 90, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  #searchbar {
    padding: 0;
    margin: 0;
  }
}
/* line 95, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input {
  margin: 10px 0 0;
  padding: 0;
}

/* line 99, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 110, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #D9230F;
}

/* line 125, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
.search-query:focus + button {
  z-index: 3;
}

@media (min-height: 480px) {
  /* line 129, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
  #searchbar {
    padding-top: 300px;
    padding-bottom: 300px;
  }
}
/* line 135, /home/lukas/Documents/dictionary/app/assets/stylesheets/application.scss */
#searchbar {
  font-family: 'Montserrat', sans-serif;
}
