= tinymce
= simple_form_for @phrase do |f|
  - if @phrase.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissable
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
        %span.sr-only Close

      %h4= "#{@phrase.errors.count} błędy:"
      %ul
        - @phrase.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.input :expression, placeholder: "Wpisz nazwę...", class: "form-control"

  .form-group
    = f.text_area :meaning, class: 'form-control tinymce', rows: 10, placeholder: "Wpisz treść..."
  .form-group.text-right
    = link_to :back, class: "btn btn-primary" do
      %i.glyphicon.glyphicon-chevron-left

    = f.button :submit, class: "btn btn-success"
:javascript
  tinyMCE.init({
    selector: 'textarea'
    language: 'pl'
  });
