-if @versions.blank?
  .alert.alert-info
    %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} &times;
    Brak historii haseł.
-else
  %h1
    Historia hasła
  %h3
    Wyrażenie:
    = @phrase.expression
  %h5
    Edytowano
    = @phrase.versions.count
    razy.
  %table.table
    %thead
      %tr
        %th
          Data
        %th
          Zmiany
    %tbody
      - @versions.each do |version|
        %tr
          %td
            = l(version.created_at, format: "%-d.%m.%Y")
          %td
            = HTML_Truncator.truncate(version.reify.meaning, 40).html_safe
  = will_paginate @versions
