.searchbar_min
  = render "layouts/searchbar"
= will_paginate
.panel.panel-primary.filterable
  .panel-heading
    %h3.panel-title Słownik
    .pull-right
      %button.btn.btn-default.btn-xs.btn-filter
        %span.glyphicon.glyphicon-filter
        Filtr
  %table.table
    %thead
      %tr.filters
        %th
          %input.form-control{:disabled => "", :placeholder => "Wyrażenie", :type => "text"}
        %th
          %input.form-control{:disabled => "", :placeholder => "Znaczenie", :type => "text"}
        %th

    %tbody
      - @phrases.each do |phrase|
        %tr
          %td= phrase.expression
          %td= HTML_Truncator.truncate(phrase.meaning, 40).html_safe
          %td
            = link_to phrase, class: "btn btn-link" do
              %i.glyphicon.glyphicon-eye-open
              Pokaż
          -if current_user && current_user.admin?
            %td
              = link_to edit_phrase_path(phrase), class: "btn btn-link" do
                %i.glyphicon.glyphicon-edit
                Edytuj
            %td
              = link_to phrase, :method => :delete, :data => { :confirm => 'Jesteś pewny/a?' }, class: "btn btn-link" do
                %i.glyphicon.glyphicon-trash
                Usuń
%br
  = will_paginate
= link_to new_phrase_path, class: "btn btn-success" do
  %i.glyphicon.glyphicon-plus
  Dodaj hasło
