.searchbar_min
  = render 'layouts/searchbar'
-if @phrases.blank?
  .alert.alert-info
    %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} &times;
    Brak rezultatów.
-else
  %table.table.table-striped
    %thead
      %tr
        %th Wyrażenie
        %th Znaczenie

    %tbody
      = will_paginate @phrases
      - @phrases.each do |phrase|
        %tr
          %td= phrase.searchable.expression
          %td= HTML_Truncator.truncate(phrase.searchable.meaning, 40).html_safe
          %td
            = link_to phrase_path(phrase), class: "btn btn-link" do
              %i.glyphicon.glyphicon-eye-open
              Pokaż
          -if current_user && current_user.admin?
            %td
              = link_to edit_phrase_path(phrase), class: "btn btn-link" do
                %i.glyphicon.glyphicon-edit
                Edytuj
            %td
              = link_to phrase_path(phrase), :method => :delete, :data => { :confirm => 'Jesteś pewny/a?' }, class: "btn btn-link" do
                %i.glyphicon.glyphicon-trash
                Usuń
  %br
    = will_paginate @phrases
