.searchbar_min
  = render 'layouts/searchbar'
= link_to :back, class: "btn btn-primary" do
  %i.glyphicon.glyphicon-chevron-left
  Wróć
%p
  %h2
    = @phrase.expression
%p
  = @phrase.meaning.html_safe

-if current_user && current_user.admin?
  = link_to phrase_path(@phrase), :method => :delete, :data => { :confirm => 'Jesteś pewny/a?' }, class: "btn btn-danger" do
    %i.glyphicon.glyphicon-trash
    Usuń
  = link_to edit_phrase_path(@phrase), class: "btn btn-primary" do
    %i.glyphicon.glyphicon-pencil
    Edytuj
-unless @phrase.versions.blank?
  = link_to history_phrase_path(@phrase), class: "btn btn-primary" do
    %i.glyphicon.glyphicon-list-alt
    Historia
