%h2 Change your password
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .form-group
    = f.label :password, "New password"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :password_confirmation, "Confirm new password"
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  .form-group
    = f.submit "Change my password", class: "btn btn-primary"
= render "devise/shared/links"
