#searchbar.row.col-md-12.center-block
  - if user_signed_in?
    %h2.text-center
      Cześć
      =current_user.first_name
    %h5.text-center Co dziś potrzebujesz znaleźć?
  - else
    %h2.text-center Dictionary
    %h5.text-center United Ideas
  = render "layouts/searchbar"
