#loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2{:style => "margin-top:50px;"}
  .panel.panel-info
    .panel-heading
      .panel-title Zaloguj się
    .panel-body{:style => "padding-top:30px"}
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-horizontal
          .input-group{:style => "margin-bottom: 25px"}
            %span.input-group-addon
              %i.glyphicon.glyphicon-user
            = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Wpisz swój adres e-mail..."
          .input-group{:style => "margin-bottom: 25px"}
            %span.input-group-addon
              %i.glyphicon.glyphicon-lock
            = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Wpisz swoje hasło..."
          - if devise_mapping.rememberable?
            .input-group{:style => "margin-bottom: 25px"}
              = f.check_box :remember_me, :style => "margin-right: 10px;"
              = f.label "Zapamiętaj mnie"
          .input-group{:style => "margin-top:10px"}
            = f.submit "Zaloguj", class: "btn btn-primary"
            = link_to "Przypomnij hasło", new_password_path(resource_name), class: "btn btn-xs btn-link"
  = render "devise/shared/links"
