= tinymce
= simple_form_for @test do |f|
  - if @test.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissable
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
        %span.sr-only Close

      %h4= "#{@test.errors.count} błędy:"
      %ul
        - @test.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.text_area :content, class: "form-control tinymce", rows: 10, placeholder: "Wpisz treść..."
  .form-group.text-right
    = link_to :back, class: "btn btn-primary" do
      %i.glyphicon.glyphicon-chevron-left

    = f.button :submit, class: "btn btn-success"
