- @tests.each do |test|
  - if current_user && current_user.admin?
    = link_to edit_test_path(test), class: "btn btn-link" do
      %i.glyphicon.glyphicon-edit
      Edytuj
  %br
  %tr
    %td= test.content.html_safe
