%nav.navbar.navbar-custom
  .container-fluid
    .navbar-header
      = link_to "Dictionary", root_path, :class => "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.glyphicon.glyphicon-align-justify
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to "Słownik", phrases_path
          -if user_signed_in?
            %li
              = link_to 'Testy aplikacji', tests_path
            %li
              = link_to "Edytuj Profil", edit_user_registration_path
            %li
              = link_to "Wyloguj", destroy_user_session_path, method: :delete
          -else
            %li
              = link_to "Zaloguj się", new_user_session_path
