= form_tag search_phrases_path, method: :get do
  #custom-search-input
    .input-group.col-md-12
      = text_field_tag :search, params[:search], class: "search-query form-control", :placeholder => "Szukaj...", "data-autocomplete" => autocomplete_phrase_expression_phrases_path, 'data-auto-focus' => true
      %span.input-group-btn
        %button.btn.btn-danger{:type => "submit"}
          %i.glyphicon.glyphicon-search
